body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}
a{
  color: #373B47 ;
  text-decoration: none;
}

a:hover{
  color: #E95853 ;
}
#home{
	height: 600px;
	margin-top: 70px;

	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

/*para que quede en el centro*/
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color:whitesmoke;
}
#services{
	background-color: #F17C72;
	text-align: center;
	color:#fff;
	padding: 70px;
}
#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}
#work{
	height: 1000px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}
#productos{
	height: 400px;
	flex-direction: row;
	justify-content: space-around;
}
#productos1{
	height: 400px;
	flex-direction: row;
	justify-content: space-around;
}
#productos2{
	height: 400px;
	flex-direction: row;
	justify-content: space-around;
}
footer{
	height: 80px;
	flex-direction: row;
	background-color: black;
	justify-content: center;
	align-items: center;
}
